@import './theme';

.layout {
    display: flex;
    min-height: 100vh;

    .container {
        padding: 0 2rem;
        background-image: radial-gradient(circle farthest-side at 0, rgb(242, 245, 249), rgb(239, 242, 245));
        flex-grow: 1
    }
}